<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" s><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Deadlift</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <h6>Set 1</h6>
    <ion-label position="stacked">Weight (kg)</ion-label>
    <ion-input required type="number"></ion-input>
    <ion-label position="stacked">Reps</ion-label>
    <ion-input required type="number"></ion-input>
  </ion-item>

  <ion-item>
    <h6>Set 2</h6>
    <ion-label position="floating">Weight (kg)</ion-label>
    <ion-input required type="number"></ion-input>
    <ion-label position="stacked">Reps</ion-label>
    <ion-input required type="number"></ion-input>
  </ion-item>

  <ion-item>
    <h6>Set 3</h6>
    <ion-label position="stacked">Weight (kg)</ion-label>
    <ion-input required type="number"></ion-input>
    <ion-label position="stacked">Reps</ion-label>
    <ion-input required type="number"></ion-input>
  </ion-item>


  <ion-button class="ion-margin" expand="block">New Set</ion-button>
  <ion-button class="ion-margin" expand="block">Complete exercise</ion-button>

</ion-content>
