<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" s><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{exercises[index].name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-sliding *ngFor="let set of exercises[index].sets; index as i">
    <ion-item>
      <ion-label slot="start" class="padding-right">Set {{set.number}}</ion-label>
      <ion-label>Weight (kg)</ion-label>
      <ion-input clearOnEdit required type="number" [(ngModel)]="set.weight" name="set.weight" min="1" max="1000"></ion-input>
      <ion-label>Reps</ion-label>
      <ion-input clearOnEdit required type="number" [(ngModel)]="set.reps" name="set.reps" min="1" max="200"></ion-input>
    </ion-item>
    <ion-item-options side="end">
      <ion-button ion-button color="danger" (click)="deleteSet(i)">Delete</ion-button>
    </ion-item-options>
  </ion-item-sliding>

  <ion-button (click)="addSet(i)" class="ion-margin" expand="block">New Set</ion-button>
  <ion-button (click)="closeModal()" class="ion-margin" expand="block">Complete exercise</ion-button>

</ion-content>
