<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <h2>Login</h2>
  <ion-list>
    <ion-item>
      <ion-input type=”text” name="username" placeholder="Username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <input type="checkbox" id="remain-logged" name="remain-logged">
      <label for="remain-logged"> Remain logged in</label>
    </ion-item>
  </ion-list>
  <ion-button color="success" shape="round" routerLink="/tab1">
    LOGIN <ion-icon name="arrow-forward-circle-outline"></ion-icon>
  </ion-button>
</ion-content>