
<ion-header>
  <app-head title="User Information"></app-head>
</ion-header>

<ion-content>
  <div id="profile-pic">
    <img src="{{user.image}}" alt="">
  </div>
  <ion-item lines="none">
    <ion-input id="name" type="text" [(ngModel)]="user.username" name="user.username"></ion-input>
    <ion-input type="text" [(ngModel)]="user.email" name="user.email"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Date of Birth</ion-label>
    <ion-datetime [(ngModel)]="user.dob" name="user.dob"></ion-datetime>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Start Weight:</ion-label>
    <ion-input slot="end" type="number" [(ngModel)]="user.startWeight" name="user.startWeight"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Goal Weight:</ion-label>
    <ion-input slot="end" type="number" [(ngModel)]="user.goalWeight" name="user.goalWeight"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Subscribe to newsletter?</ion-label>
    <ion-checkbox [(ngModel)]="user.subscribed"></ion-checkbox>
  </ion-item>
  <ion-item line="none">
    <ion-label position="stacked">Change Profile Picture</ion-label>
    <input #fileInput type="file" accept="image/*" (change)="imageSelected(fileInput.files)">
  </ion-item>
  <ion-button (click)="saveChanges()" class="ion-margin-top" expand="block">Save Changes</ion-button>
</ion-content>