<ion-header>
  <app-head title="History"></app-head>
</ion-header>

<ion-content>
  <!-- <ion-card> -->
    <div id="chart-container">
      <canvas #sessionStats height="300" responsive="true"></canvas>
    </div>
    <div id="choice">
      <ion-card-title>Exercise</ion-card-title>
      <ion-label>Choose Exercise: </ion-label>
      <ion-select (ionChange)="makeChart($event.detail.value)" interface="action-sheet" placeholder="Select from list">
        <ion-select-option *ngFor="let exercise of exercises">{{exercise.title}}</ion-select-option>
      </ion-select>
    </div>
</ion-content>
